.profile__edit {
	padding: 6px;
	margin-bottom: 18px;
	vertical-align: middle;
	cursor: pointer;
	background-image: url(../../../images/edit.svg);
	border: none;
	background-color: transparent;
	height: 24px;
	width: 24px;
}
